<div class="page-header">
  <h1>Listing attendees</h1>
</div>

<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Attendee type</th>
    <th>Handle</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event.attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.first_name %></td>
    <td><%= attendee.last_name %></td>
    <td><%= attendee.email %></td>
    <td><%= attendee.date_of_birth %></td>
    <td><%= attendee.attendee_type %></td>
    <td><%= attendee.handle %></td>
    <td><%= attendee.event_id %></td>
    <td><%= link_to 'Show', [@event, @attendee] %></td>
    <td><%= link_to 'Edit', edit_event_attendee_path(@event, attendee) %></td>
    <td><%= link_to 'Destroy', [@event, @attendee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to event', @event %> |
<%= link_to 'Check In New Attendee', new_event_attendee_path(@event.id) %>
