<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<p>
  <b>Address:</b>
  <address>
    <%= @event.address.line1 %><br>
    <% if @event.address.line2.present? %><%= @event.address.line2 %><br><% end %>
    <%= @event.address.city %>, <%= @event.address.region %> <%= @event.address.postal_code %><br>
  </address>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h2>Attendees</h2>
<%= render :partial => 'attendees/index' %>
